.wrap
{
	border-right: 1px solid #D4D4D4; 
	border-left: 1px solid #D4D4D4; 
	border-bottom: 1px solid #D4D4D4;
}
.help
{
	margin: 2.4px 0 0px;
}
.username 
{
	color: #d9534f !important;
	font-size: 14px !important;
}
.logo-dime
{
	width: 410px; 
	height: 100px;
}
.search-div
{
	float: right !important; 
	top: -95px; 
	right: 197px; 
	width: 35% !important;
}
.upcoming
{
	float: right; 
	margin-top: -132px; 
	margin-right: 77px;
}
.cal-icon
{
	font-size: 2.7em !important;
}
.upcoming-text
{
	float: right; 
	margin-top: -130px;
}
.upcoming-span
{
	font-size: 13px !important;
	letter-spacing: 1px;
}
.menu-li1
{
	width: 150px;
}
.menu-a1
{
	text-align: center;
	border-radius: 0px !important; 
	border-left: 1px solid #D4D4D4;
}
.menu-a2
{
	width: 160px;
}
.footer-ui
{
	font-style: italic;
	color: #DD0F0E;
}
.footer-ui1
{
	text-decoration: none !important ;
}
